# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.yarn/cache

# testing
coverage

# build
.next/
.svelte-kit/
out/
build/
dist/
bin/
apps/**/package/
.limit-process/*.min.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log*

# local env files
packages/**/*.env*
apps/web/*.env*
apps/doc/*.env*
*.env
*.env.local
*.env.dev

# frameworks
.turbo
.vercel
.output

# temp files
*.tmp